.SearchEngine input {
  padding: 10px;
  margin: 0 5px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  border-style: none;
}

.SearchEngine li {
  list-style: none;
  line-height: 1.5;
  margin: 0 35px 0 0;
}

.SearchEngine .button {
  color: rgb(236, 73, 24);
  background: rgba(248, 233, 218, 0.1);
  transition: all 200ms ease-in-out;
}
.SearchEngine .button:hover {
  color: rgb(194, 147, 5);
  background: rgb(252, 217, 113);
  cursor: pointer;
}
